*{
    box-sizing: border-box;
    
}
.container{
    margin: auto;
    margin-top: 3rem;
    text-align: center;
}
h1{
    font-size: 80px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.main_parag{
    font-size: 35px;
    margin-top: 50px;
    margin-bottom: 35px;
}
button{
    width: 250px ;
    height: 80px ;
    color: white;
    background-color: blue;
    font-size: 18px;
    font-weight: bold;
    border-color: black;
    border-width: 0 4px 4px 0 ;
    border-style: outset;
   

}
button:hover {
    background-color: green;
}
#quotes{
    margin-top: 40px;
}